<h2 class='title'>Education and Experience</h2>
<mat-card class="timeline">
    <ul class="list">
      <li class="list--item">
        <div class="container">
          <h3 class="container--title">English Tochka</h3>
          <p class="container--content">Completed on-line English courses.</p>
        </div>
        <div class="year">2018</div>
      </li>
      <li class="list--item">
        <div class="container">
          <h3 class="container--title">Belarusian State University of Informatics and Radioelectronics</h3>
          <p class="container--content">The Faculty of Information Technologies and Control <br>
            Department: Information Technologies in Automated Systems.
        </p>
        </div>
        <div class="year">2018</div>
      </li>
      <li class="list--item">
        <div class="container">
          <h3 class="container--title">HTML Academy</h3>
          <p class="container--content">Have completed 1226 tasks. 
              <a href='https://htmlacademy.ru/profile/id950095'>Link</a> to my profile
            </p>
        </div>
        <div class="year">2019</div>
      </li>
      <li class="list--item">
        <div class="container">
          <h3 class="container--title">CodeAcademy</h3>
          <p class="container--content">Have completed tasks connected with JavaScript
        </p>
        </div>
        <div class="year">2019</div>
      </li>
      <li class="list--item">
        <div class="container">
          <h3 class="container--title">The Rolling Scopes School</h3>
          <p class="container--content">JavaScript / Front-End Courses. <br>
            I have succesfully <a href='https://app.rs.school/certificate/pnm7sztt'>completed</a> them. 
        </p>
        </div>
        <div class="year">2019</div>
      </li>
      <li class="list--item">
        <div class="container">
          <h3 class="container--title">Epam JS Lab</h3>
        </div>
        <div class="year">2020</div>
      </li>
      <li class="list--item">
        <div class="container">
          <h3 class="container--title">Angular Courses (The RS School)</h3>
        </div>
        <div class="year">2020</div>
      </li>

    </ul>
    <div style="clear: both;"></div>
  </mat-card>
