<h2 class='title' id='contacts'>Contact Me</h2>
<div class='send-message-wrapper'>
    <a class='social-sites__icon-wrapper' href='https://www.linkedin.com/in/ulyana-bychkovskaya-593807197/'>
        <fa-icon class='social-sites__icon' [icon]='faLinkedinIn'></fa-icon>
    </a>
    <a class='social-sites__icon-wrapper' href='https://t.me/ulyana1810' >
        <fa-icon class='social-sites__icon' [icon]='faTelegramPlane'></fa-icon>
    </a>
    <a class='social-sites__icon-wrapper' href="mailto:ubychkovskaya20@gmail.com">
        <fa-icon class='social-sites__icon' [icon]='faEnvelope'></fa-icon>
    </a>
    <a class='social-sites__icon-wrapper' href='https://github.com/ulyana18'>
        <fa-icon class='social-sites__icon' [icon]='faGithubAlt'></fa-icon>
    </a>
    <a class='social-sites__icon-wrapper' href='https://www.instagram.com/ulyana___18/'>
        <fa-icon class='social-sites__icon' [icon]='faInstagram'></fa-icon>
    </a>
</div>
