<mat-drawer-container class="example-container" autosize>
    <div class='example-sidenav-content'>
        <button type="button" class='nav-btn' mat-button (click)="drawer.toggle()">
          <fa-icon class='nav-btn__icon' [icon]='faAlignRight'></fa-icon>
        </button>
        <div class='title'>
            <h1 class='title__name'>Ulyana Bychkovskaya</h1>
            <h2 class='title__job'>Front-End Developer</h2>
        </div>
        <div class='social-sites'>
            <a class='social-sites__icon-wrapper' href='https://github.com/ulyana18'>
                <fa-icon class='social-sites__icon' [icon]='faGithubAlt'></fa-icon>
            </a>
            <a class='social-sites__icon-wrapper' href='https://www.linkedin.com/in/ulyana-bychkovskaya-593807197/'>
                <fa-icon class='social-sites__icon' [icon]='faLinkedinIn'></fa-icon>
            </a>
            <a class='social-sites__icon-wrapper' href='https://t.me/ulyana1810' >
                <fa-icon class='social-sites__icon' [icon]='faTelegramPlane'></fa-icon>
            </a>
            <a class='social-sites__icon-wrapper' href="mailto:ubychkovskaya20@gmail.com">
                <fa-icon class='social-sites__icon' [icon]='faEnvelope'></fa-icon>
            </a>
            <a class='social-sites__resume-wrapper'>
                <span class='social-sites__resume'>Download Resume</span>
            </a>
        </div>
    </div>
  
    <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
      <ul>
          <a class='nav-item' href='#about'><li>About Myself</li></a>
          <a class='nav-item' href='#education'><li>Education</li></a>
          <a class='nav-item' href='#projects'><li>My Projects</li></a>
          <a class='nav-item' href='#skills'><li>My Skills</li></a>
          <a class='nav-item' href='#contacts'><li>Contacts</li></a>
      </ul>
    </mat-drawer>
</mat-drawer-container>
