<h2 class='title' id='projects'>My projects</h2>
<div class='projects-wrapper'>
  <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <mdb-card-img src='../../../../assets/images/cultural-portal.jpg' alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Culture Portal</h4>
        </mdb-card-title>
        <mdb-card-text> This is a web portal that introduces you to the heritage of Belarus. Here
          it is connected with poets of Belarus. You'll find the most famous belarussian poets and will be able to
          read about their lives and works. This project was developed in the team.
        </mdb-card-text>
    
        <a class='button' href='https://cultural-portal-group-3.netlify.com' target='_blank' mdbBtn mdbWavesEffect>Show</a>
      </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img src='../../../../assets/images/fancy-weather.jpg' alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Fancy Weather</h4>
      </mdb-card-title>

      <mdb-card-text> It's a single-page website where you're able to find out the weather for 3 days in any city
        you want. Translation into 3 languages is also available.
      </mdb-card-text>

      <a class='button' href='https://fancy-weather-ulyana18.netlify.com/' target='_blank' mdbBtn mdbWavesEffect>Show</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img src='../../../../assets/images/image-api.jpg' alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Image API</h4>
      </mdb-card-title>

      <mdb-card-text> Was developed as a task for RS School. The main idea here is to use API to load images from
        different services.
      </mdb-card-text>

      <a class='button' href='https://ulyana18api.netlify.com/' target='_blank' mdbBtn mdbWavesEffect>Show</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img src='../../../../assets/images/virtual-keyboard.jpg' alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Virtual Keyboard</h4>
      </mdb-card-title>

      <mdb-card-text>Was developed as a task for RS School. One of the first tasks, where I worked with JS events.
      </mdb-card-text>

      <a class='button' href='https://ulyana18.github.io/codejam-virtual-keyboard/' target='_blank' mdbBtn mdbWavesEffect>Show</a>
    </mdb-card-body>
  </mdb-card>
</div>
