.title {
    text-align: center;
}
.projects-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
mdb-card {
    width: 355px;
    margin: 30px 0;
}