<h2 class='title'>My projects</h2>
<div class='projects-wrapper'>
  <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <mdb-card-img src='../../../../assets/images/cultural-portal.jpg' alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Card Title</h4>
        </mdb-card-title>
    
        <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </mdb-card-text>
    
        <a href='https://cultural-portal-group-3.netlify.com' target='_blank' mdbBtn color="primary" mdbWavesEffect>Button</a>
      </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img src='../../../../assets/images/fancy-weather.jpg' alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>

      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a href='https://fancy-weather-ulyana18.netlify.com/' target='_blank' mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img src='../../../../assets/images/image-api.jpg' alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>

      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a href='https://ulyana18api.netlify.com/' target='_blank' mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <mdb-card-img src='../../../../assets/images/virtual-keyboard.jpg' alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>

      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a href='https://ulyana18.github.io/codejam-virtual-keyboard/' target='_blank' mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
</div>
