<div class='card-info' id='about'>
    <div class='wrapper'>
    <div class='my-info'>
        <div class='my-info__name my-info__item'>
            <span class='my-info__title'>Name </span>
            <span class='my-info__data'>Ulyana Bychkovskaya</span>
        </div>
        <div class='my-info__birthday my-info__item'>
            <span class='my-info__title'>Birthday </span>
            <span class='my-info__data'>October 18, 2000</span>
        </div>
        <div class='my-info__address my-info__item'>
            <span class='my-info__title'>Address </span>
            <span class='my-info__data'>Minsk, Belarus</span>
        </div>
        <div class='my-info__phone my-info__item'>
            <span class='my-info__title'>Phone number </span>
            <span class='my-info__data'>+375296985106</span>
        </div>
        <p class='my-info__character-text'>Speaking about myself, I can say that I'm <span class='character'>easy-going</span> person, because
            it's not a problem for me to communicate with new people. <span class='character'>Creative</span>.
            During developing functionality of my sites I think about the design, from my point of view,
            it's the first thing people pay attention while surfing the Internet.
            <span class='character'>Ambitious</span> and <span class='character'>strong-minded</span>.
            Why? I have the goal and do a lot to achive it!
        </p>
    </div>
    <img src='../../../../assets/images/my-photo-6.jpg'>
</div>
<h2 class='title'>About Myself</h2>
</div>
