<div class='card-info' id='about'>
    <div class='wrapper'>
    <div class='my-info'>
        <p class='my-info__character-text'>
            My name is Ulyana and I'm glad to see you here!
        </p>
        <p class='my-info__character-text'>
            I'm frontend developer based in Minsk. I love my work and I feel that web developement is
            perfect for me. Because I put every fiber of my soul into projects, I'm ready to go on all night to 
            achieve the goal and see the best result at the end.
        </p>
        <p class='my-info__character-text'>
            I'm student at the moment, but in addition to the university tasks I find free time for 
            self-development (without which it's very difficult, even unreal to work in IT). For example, I have 
            succesfully completed a few The Rolling Scopes courses, English language courses and others.
        </p>
        <p class='my-info__character-text'>
            I'm open for new projects, because I want to get new skills and improve them.
        </p>
    </div>
    <img src='../../../../assets/images/my-photo-6.jpg'>
</div>
<h2 class='title'>About Myself</h2>
</div>
