$title-color: rgb(202, 196, 180);

.card-info {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    position: relative;

    @media(max-width: 531px) {
        flex-direction: column-reverse;
        justify-content: center;
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin-left: 20px;
    background-color: rgba(121, 92, 80, 0.705);
    border-radius: 10px;

    @media(max-width: 1163px) {
        flex-direction: column-reverse;
        padding: 30px 0;
    }
    @media(max-width: 531px) {
        width: 88vw;
        margin: 0 auto;
    }
}
.title {
    position: absolute;
    right: -13vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $title-color;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.4em;
    letter-spacing: 0.3em;
    white-space: nowrap;
    transform: rotate(90deg);
  
    &::before,
    &::after {
      content: '';
      display: block;
      position: relative;
      width: 80px;
      height: 2px;
      margin: 0 15px;
      background-color: $title-color;

      @media(max-width: 531px) {
        display: none;
      }
    }

    @media(max-width: 1068px) {
        right: -200px;
    }
    @media(max-width: 531px) {
        position: relative;
        right: 0;
        transform: none;
        margin-bottom: 40px;
    }
}
img {
    width: 430px;
    border-radius: 0 10px 10px 0;

    @media(max-width: 1163px) {
        max-width: 430px;
        width: 80%;
    }
}
.my-info {
    width: 43%;
    margin: 0 auto;

    @media(max-width: 1163px) {
        width: 90%;
    }
}
.my-info__item {
    margin: 30px auto;
}
.my-info__character-text {
    margin-top: 30px;
    font-size: 1.3em;
    line-height: 1.5em;
    text-indent: 1.5em;
    color: rgb(160, 132, 109);

    @media(max-width: 1163px) {
        font-size: 1.3em;
    }
    @media(max-width: 703px) {
        font-size: 1.1em;
    }
}
