<h2 class='title'>My Skills</h2>
<div class='skills-wrapper' id='skills'>
    <div class='skill'>
        <h3>HTML5</h3>
        <mat-progress-bar mode="determinate" color='warn' value="90"></mat-progress-bar>
    </div>
    <div class='skill'>
        <h3>CSS3</h3>
        <mat-progress-bar mode="determinate" color='warn' value="90"></mat-progress-bar>
    </div>
    <div class='skill'>
        <h3>JavaScript</h3>
        <mat-progress-bar mode="determinate" color='warn' value="75"></mat-progress-bar>
    </div>
    <div class='skill'>
        <h3>Angular</h3>
        <mat-progress-bar mode="determinate" color='warn' value="65"></mat-progress-bar>
    </div>
    <div class='skill'>
        <h3>ReactJS</h3>
        <mat-progress-bar mode="determinate" color='warn' value="20"></mat-progress-bar>
    </div>
    <div class='skill'>
        <h3>Canvas</h3>
        <mat-progress-bar mode="determinate" color='warn' value="90"></mat-progress-bar>
    </div>
    <div class='skill'>
        <h3>SCSS / SASS / LESS</h3>
        <mat-progress-bar mode="determinate" color='warn' value="87"></mat-progress-bar>
    </div>
    <div class='skill'>
        <h3>Webpack</h3>
        <mat-progress-bar mode="determinate" color='warn' value="82"></mat-progress-bar>
    </div>
    <div class='skill'>
        <h3>C++</h3>
        <mat-progress-bar mode="determinate" color='warn' value="90"></mat-progress-bar>
    </div>
    <div class='skill'>
        <h3>English (B2 - B2+)</h3>
        <mat-progress-bar mode="determinate" color='warn' value="69"></mat-progress-bar>
    </div>
</div>
